:root {
   --primary-color: #1a7a17;
   --primary-hover-color: #4ffa3f;
   --primary-active-color:#15eb31;
   --primary-disabled-color:#0c380b;
   --secondary-color: #971197;
   --secondary-hover-color: #000000;
   --secondary-active-color:#fd12ea;
   --secondary-disabled-color:#33042b;
}

