.checkbox_container {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.checkbox_input {
   display: none;
}

.checkbox_custom {
   background-image: url(../../assets/icons/icons8-пустой-чекбокc.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   width: 24px;
   height: 24px;
   margin-right: 5px;
}

.checkbox_input:checked + .checkbox_custom {
   background-image: url(../../assets/icons/icons8-отмеченный-чекбокс.png);
}
