.time-grid {
   display: grid;
   grid-template-columns: 100px repeat(7, 1fr);
   position: relative;
   height: 85vh;
   overflow-y: auto;
   scrollbar-width: thin;
   scrollbar-color: #9b59b6 transparent;
}

.time-grid__hour {
   grid-column: 1 / 2;
   font-size: 14px;
   color: #666;
   text-align: right;
   padding-right: 10px;
   height: 60px;
   display: flex;
   align-items: center;
}
