.link {
   font-size: 20px;
   color: var(--default-color);

   &:hover{
      border-bottom: 1px solid var(--hover-color)
   }

   &:active {
      color: var(--active-color);
      border-color: var(--active-color);
   }

}

.disabled {
   color: var(--disabled-color);
   pointer-events: none;
   cursor: not-allowed;
   text-decoration: none;
}