.event {
  position: absolute;
  width: 90%;
  top: 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f39c12;
  color: white;
  font-size: 12px;
  overflow: hidden;
  margin-top: 25px;
  word-wrap: break-word;
  white-space: normal;
}


